/01 Starting Project/03+Extra+Files/
/01 Starting Project/04+Updated+Files/
/02 Basics/
/03 Events/
/04 Artifacts & Outputs/
/05 Environment Variables & Secrets/
/06 Execution Flow/
/07 Containers/
/08 Custom Actions/
/09 Security/
/ZZ Git & GitHub Refresher/